<%= form_tag palette_path, :class => 'form-horizontal' do %>
  <fieldset>
    <legend>Palette Grabber</legend>
    <div class="control-group">
      <label for="sprite_url" class="control-label">Enter URL of sprite:</label>
      <div class="controls">
        <%= text_field_tag :sprite_url, '', :required => true %>
        <%= submit_tag "Go!", :class => 'btn' %>
      </div>
    </div>
  </fieldset>
<% end %>

<% if @image_data %>
<div>
  <image src="<%= params[:sprite_url] %>" class="leftimage" />
  <image src="data:image/png;base64,<%= @image_data %>" class="leftimage" />
	<% unless @info.blank? %><p><%= @info %></p><% end %>
  <div class="clearfix"></div>
  <br />
  <input type="text" disabled value="<%= params[:sprite_url] %>" class="url-display"></input>
</div>
<% end %>