<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :name_or_email %><br />
    <%= text_field_tag :name_or_email, params[:name_or_email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <%= hidden_field_tag :continue, params[:continue] %>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>