<h1>Sign Up</h1>

<%= form_for @artist do |f| %>
  <% if @artist.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @artist.errors.full_messages %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
    (If you've worked on this project before, please use your Smogon/Serebii forum username)
  </p>
  <p>
    <%= f.label :email, "Email (used for password recovery)" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>