<div class="create-comment-sidebar">
  <%= image_tag @commentable.image.url, :class => 'sprite-display' %>
</div>
<div class="create-comment-body">
  <%= semantic_form_for([@commentable, @comment], :remote => true, :format => :json, :html => {:id => "create-comment-form"}) do |f| %>
    <span class="control-group">
      <%= f.input :body, :required => false, :label => 'Post a comment:' %>
    </span>
    <%= f.buttons do %>
      <%= button_to_function "Close", "$('#create-comment-container').modal('hide');", :class => 'btn' %>
      <%= f.commit_button "Post", :disable_with => "Posting…" %>
    <% end %>
    </div>
  <% end %>
</div>