<div>
  <p><strong>Newest artists: </strong>
  <%= @newest_artists.map{|a| style_artist_name(a)}.join(", ").html_safe %><%= ", and #{pluralize @remaining_artists, 'other'}" if @remaining_artists > 0 %></p>
</div>

<div id="activity-feed-header">Latest Activity <%= link_to "(view all)", activities_path %></div>
<div class="row">
<div id="activity-feed-container">
  <div id="activity-feed">
    <% 0.upto(@latest_activities.count / 3) do |i| %>
      <% activities = @latest_activities[i, 3] %>
      <% if activities.count > 0 %>
        <div class="row">
        <% activities.each do |activity| %>
          <%= render :partial => "activities/activity", :locals => {:activity => activity, :small => true} %>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>

<div class="row">
  <div id="gallery">
    <table>
    <%= render :partial => "pokemon", :collection => @pokemon, :locals => { :number_of_entries => @pokemon.count } %>
    </table>
  </div>
</div>

<script type="text/javascript">
<% if Rails.env.development? %>

  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) window.console.log(message);
  };
  
  // Flash fallback logging - don't include this in production
  WEB_SOCKET_DEBUG = true;
  
<% end %>

  var pusher = new Pusher('<%= Pusher.key %>');
  var channel = pusher.subscribe('<%= ACTIVITY_CHANNEL %>');
  
  var eventCallback = function(data) {
    var contentElement = $(data.content)
    contentElement.hide().prependTo('#activity-feed')
    contentElement.fadeToggle();
  };
  
  // bind_all doesn't seem to do what I want, so here I'll specify and bind to each event type manually
  var events = [<%= [UploadActivity, ProgressActivity, CommentActivity].map{|c| "'#{c.to_s}'"}.join(', ') %>];
  $(events).each(function(i, eventName){
    channel.bind(eventName, eventCallback);
  });
  
  $(document).ready(function() {
  });
</script>