<div>
  <div id="activity-<%= activity.id %>" class="activity-feed-item <%= activity.type %>">
    <%= button_for_activity(activity) %>
    <div class="activity-description">
      <span style="font-weight: bold; font-size: 80%"><%= format_activity_feed_datetime(activity.created_at) %></span>
      <p><%= text_for_activity(activity) %></p>
    </div>
    <div style="clear: both"></div>
  </div>
  <div>
    <hr class="activity-separator" />
  </div>
</div>