<div class="span<%= small ? 4 : 8 %>">
  <div id="activity-<%= activity.id %>" class="activity-feed-item <%= activity.type %>">
     <div class="button-container"><%= button_for_activity(activity) %></div>
     <div class="activity-description">
       <time><%= time_ago_in_words(activity.created_at) %> ago</time>
       <p><%= text_for_activity(activity) %></p>
     </div>
     <div class="clearfix"></div>
   </div>
</div>