<div>
  <div id="activity-<%= activity.id %>" class="activity-feed-item <%= activity.type %>">
    <%= link_to(series_path(:id => activity.series), :class => "button") do %>
      <% if activity.subtype == SERIES_RESERVED then "Reserved" %>
      <% else image_tag(activity.series.latest_sprite.image.url, :style => "height: 80px; weight: 80px; vertical-align: middle; padding: 4px; margin: 4px") end %>
    <% end %>
    <div class="activity-description">
      <span style="font-weight: bold; font-size: 80%"><%= format_activity_feed_datetime(activity.created_at) %></span>
      <br /><br />
      <%= text_for_progress_activity(activity) %>
    </div>
    <div style="clear: both"></div>
  </div>
  <div>
    <hr style="width: 75%" />
  </div>
</div>