<div>
  <table style="width: 100%"><tr valign="top">
    <td style="width: 182px">
    <% if activity.is_a? UploadActivity %>
      <%= image_tag(activity.sprite.image.url, :class => 'sprite-display') %>
      <%= render :partial => "sprites/colour_map", :locals => { :colour_map => activity.sprite.colour_map, :num_colours => nil } if activity.sprite.colour_map %>
      <br />
      <% if current_artist and activity.sprite.commenting_open? %>
      <a href="#"
      class="button"
      style="height: 35px; padding: 0 10px; display: block"
      onclick="if (AS_Comments.showCommentForm()){$.ajax('<%= new_sprite_comment_path(activity.sprite) %>', { success: AS_Comments.commentFormLoaded })}; return false;">
        Post a comment
      </a>
      <% end %>
    <% else %>
    <div style="width: 182px">
      &nbsp;
    </div>
    <% end %>
    </td><td>
    <span style="font-weight: bold; font-size: 80%"><%= format_event_datetime(activity.created_at) %></span>
    <p><%= text_for_series_activity(activity) %></p>
    <% if activity.is_a? UploadActivity %>
    <div id="comments-sprite-<%= activity.sprite_id %>" class="comments-container" style="width: 100%">
      <% activity.sprite.comments.order('created_at DESC').each do |comment| %>
      <%= render :partial => 'comments/comment', :object => comment %>
      <% end %>
    </div>
    <% end %>
    </td>
  </tr></table>
  <div style="clear: both"></div>
  <hr width="100%" />
</div>