<div style="margin: 10px 0">
<% if series.state == SERIES_RESERVED %>
	<span style="color: red; font-weight: bold">Reserved by <%= series.reserver.name %></span>
	<% if series.reserver == current_artist %>
		<%= link_to "(Unreserve)", unclaim_pokemon_path(series.pokemon) %>
	<% end %>
<% else %>

<% if series.limbo? %>
  <span style="color: blue; font-weight: bold">In Limbo!</span>
<% end %>

<% events = series.events_for_artist(current_artist) %>
<% unless events.blank? %>
Available actions:
<ul>
	<% events.each do |event| %>
	<li><%= link_to event.to_s.humanize, transition_series_path(series, :event => event), :confirm => (event == :archive ? "Archive these sprites to start from scratch?" : nil) %></li>
	<% end %>
</ul>
<% end %>

	<table>
		<tr>
			<th width="160"></th>
			<th>Artist</th>
			<th>Date</th>
		</tr>
		<% series.sprites.order('created_at DESC').each do |sprite| %>
		<tr>
			<td>
				<% if sprite.image? %>
					<%= image_tag sprite.image.url, :title => sprite.step %>
				<% end %>
			</td>
			<td>
				<%= sprite.artist ? sprite.artist.name : series.contributors.map{|c| c.name }.join(", ") %>
			</td>
			<td>
				<%= time_ago_in_words(sprite.image_updated_at) + " ago" if sprite.image? %>
			</td>
		</tr>
		<% end %>
	</table>
<% end %>

<% if series.artist_can_upload?(current_artist) %>
<div>
<% if series.state == SERIES_RESERVED %><h3>Submit the first sprite</h3><% end %>
<% if series.state == SERIES_WORKING %><h3>Add another sprite</h3><% end %>
<% if series.state == SERIES_AWAITING_EDIT %><h3>Submit a peer edit</h3><% end %>
<% if series.state == SERIES_EDITING %><h3>Submit a peer edit</h3><% end %>
<%= render :partial => "series/upload_form", :locals => { :series => series } %>
</div>
<% end %>
</div>