<% if series.state == SERIES_RESERVED %>
	<span style="color: red; font-weight: bold">Reserved by <%= series.latest_sprite.artist.name %></span>
	<% if series.latest_sprite.artist == current_artist %>
		<%= link_to "(Unreserve)", unclaim_pokemon_path(series.pokemon) %>
	<% end %>
<% else %>
	<h2>Current sprites:</h2>
	<table>
		<tr>
			<th>Sprite</th>
			<th>Artist</th>
			
		</tr>
		<% series.sprites.each do |sprite| %>
		<tr>
			<td>
				<% if sprite.image? %>
					<%= image_tag sprite.image.url %>
				<% else %>
			
				<% end %>
			</td>
			<td>
				<%= sprite.artist.name %>
			</td>
		</tr>
		<% end %>
	</table>
<% end %>

<% if series.artist_can_upload?(current_artist) %>
<% if series.state == SERIES_RESERVED %><h2>Submit the first sprite</h2><% end %>
<% if series.state == SERIES_WORKING %><h2>Add another sprite</h2><% end %>
<% if series.state == SERIES_AWAITING_EDIT %><h2>Submit a peer edit</h2><% end %>
<%= render :partial => "series/upload_form", :locals => { :series => series } %>
<% end %>