<div>
<% if series.state == SERIES_RESERVED  %>
	<% if series.reserver == current_artist %>
		<%= link_to "(Unreserve)", unclaim_pokemon_path(series.pokemon) %>
	<% end %>
	
	<%= render :partial => "series/upload_form", :locals => { :series => series } %>
	
<% else %>

<% events = series.events_for_artist(current_artist) %>
<% if !events.blank? or (current_artist and current_artist.admin and series.state == SERIES_ARCHIVED) %>
Available actions:
<ul>
	<% events.each do |event| %>
	<li><%= link_to humanize_state_description(event.to_s), transition_series_path(series, :event => event), :confirm => (event == :archive ? "Archive these sprites to start from scratch?" : nil) %></li>
	<% end %>
	<% if current_artist and current_artist.admin and series.state == SERIES_ARCHIVED %>
	<li><%= link_to "Delete", series_path(series), :class => 'destructive', :method => :delete, :confirm => "Are you sure you want to PERMANENTLY delete this series of sprites?" %></li>
	<% end %>
</ul>
<% end %>

<%= render :partial => "series/upload_form", :locals => { :series => series } %>

<div>
  <hr width="100%" />
  <%= render :partial => 'series/activity', :collection => series.activities.order('created_at DESC') %>
</div>
<% end %>

</div>