<% if series.artist_can_upload?(current_artist) %>
<div>
  <% if series.state == SERIES_RESERVED %><h3>Submit the first sprite</h3><% end %>
  <% if series.state == SERIES_WORKING %><h3>Add another sprite</h3><% end %>
  <% if series.state == SERIES_AWAITING_EDIT %><h3>Submit a peer edit</h3><% end %>
  <% if series.state == SERIES_EDITING %><h3>Submit a peer edit</h3><% end %>
  <%= form_tag submit_series_sprites_path(series), :multipart => true do %>
  	<%= file_field_tag 'image' %><br /><br />
  	<%= check_box_tag 'make_transparent' %><%= label_tag 'make_transparent', "Determine the background colour and replace it with transparency. Make sure the background colour doesn't appear in the sprite (e.g. white background and white eyes)!" %><br /><br />
  	<%= submit_tag 'Upload' %>
  <% end %>
</div>
<% end %>